# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# deps
node_modules


# production
dist

# misc
.env

# tests
coverage
# jest.config.js


# vs code
.vs
